{% extends 'base.html.twig' %}

{% block title %}
    Docteur libre - Profil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ user.getFirstName() }} {{ user.getLastName() }}</h1>
        <ul>
            <li>Sexe : 
                {% if user.getSex() == 'M' %}
                    Homme
                {% elseif user.getSex() == 'F' %}
                    Femme
                {% else %}
                    N/A
                {% endif %}
            </li>
            <li>Numéro de téléphone : {{ user.getPhoneNumber() }}</h1>
            <li>Adresse e-mail : {{ user.getEmail() }}</h1>
            {% if is_patient  %}
                <li>Date de naissance : {{ patient.getDateOfBirth()|date('d-m-Y') }}</h1>
            {% else %}
                <li>Profession : {{ doctor.getProfession() }}</h1>
                <li>Adresse : {{ doctor.getAddress() }}</h1>
            {% endif %}
        </ul>
        {% if not is_patient  %}
            <a href="{{ path('profile.new.appointment', {doctor_id: user.getId()}) }}">Prendre rendez-vous</a>
        {% endif %}
        <div class="container mt-4">
            <a href="{{ path('edit.password', {id: user.getId()}) }}">Changer de mot de passe</a>
        </div>
    </div>
{% endblock %}
